/*
    Slutprojekt Javascript 2 (FE23 Grit Academy)
    Grupp : STTForum

    forum.css
    Stylesheet for displaying and managing forums, threads and messages.
*/

.forum-breadcrumb {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.breadcrumb-link {
    font-weight: 700;
    text-decoration: none;
    background-color: lightskyblue;
    color: black;
    padding: 0.2rem 0;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus {
    text-decoration: underline;
    color: darkblue;
}

.breadcrumb-link:not(:last-of-type)::after {
    content: "→";
    padding: 0px 0.5rem;
}

.breadcrumb-link:first-of-type {
    padding-left: 2rem;
    border-radius: 15px 0px 0px 15px;
}

.breadcrumb-link:last-of-type {
    padding-right: 2rem;
    border-radius: 0px 15px 15px 0px;
}


.forumlist-title {
    font-size: 5em;
    margin: 0;
    text-align: center;
}

.forumlist-forums {
    display: flex;
    justify-content: center;
}

.forum-icon {
    max-width: 100px;
    height: auto;
}

.forum-icon-big {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.forum-message {
    background-color: lightgray;
    color: black;
    margin: 0.5rem 0px;
    padding: 0px;
    overflow: hidden;
}

article.forum-message .forum-message-wrapper.deleted {
    opacity: 0.25;
}

article.forum-message .forum-message-wrapper.deleted .forum-message-text {
    font-style: italic;
}

.forum-message-header {
    display: grid;
    gap: 0px 0.6rem;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "authoricon authorname"
        "authoricon postdate";
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.25rem;
}

.forum-message-replies {
    margin-left: 2rem;
}

.forum-thread {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.forum-thread.locked::before {
    background-color: darkred;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
    content: "Thread is locked!";
}

.forum-thread-wrapper {
    background-color: rgb(48, 48, 48);
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.forum-thread h3 {
    margin: 0;
    font-size: 2em;
}

.forum-header {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.forum-header h2 {
    font-size: 5rem;
    margin: 0;
}

.author-picture {
    grid-area: authoricon;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(102, 119, 148);
}

a.author-name {
    grid-area: authorname;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a.author-name span.admin::after {
    position: relative;
    top: -3px;
    content: 'Admin';
    display: inline-block;
    background-color: darkblue;
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    margin-left: 0.5rem;
    border-radius: 12px;
}



.forum-message-date {
    grid-area: postdate;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.forum-button {
    border: 0;
    margin: 1rem;
    display: inline-grid;
    grid-template-areas: "button-image" "button-label";
    align-items: center;
    background-color: black;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.forum-button > img {
    grid-area: button-image;
    display: block;
    grid-row-start: 1;
    grid-column-start: -1;
    grid-row-end: auto;
    grid-column-end: auto;
}

.forum-button > div {
    grid-area: button-label;
    font-size: 2.5em;
    font-weight: bold;
    display: block;
    grid-row-start: 1;
    grid-column-start: -1;
    grid-row-end: auto;
    grid-column-end: auto;
    color: white;
    text-shadow: 0px 0px 12px black;
    background-color: rgba(0, 0, 0, 0.3);
}

.forum-button:hover {
    box-shadow: 0px 0px 12px yellow;
}

.forum-button:hover > div {
    color: yellow;
}

.forum-thread-list-hdr,
.forum-thread-list {
    display: grid;
    grid-template-areas: "thread-title thread-lastauthor thread-updated thread-date thread-postcount";
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    justify-content: space-between;
    background-color: lightgray;
    margin: 0.2rem;
}

.forum-thread-list-hdr {
    background-color: darkgrey;
    font-weight: 700;
}

.forum-thread-list-title-hdr,
.forum-thread-list-title {
    grid-area: thread-title;
    padding: 0.5rem;
    overflow: hidden;
    word-wrap: break-word;
    width: 200px;
}

.forum-thread-list-title.locked::after {
    content: "locked";
    background-color: darkred;
    color: white;
    padding: 0 0.5rem;
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 12px;
    margin-left: 0.5rem;
}

.forum-thread-list-lastby-hdr,
.forum-thread-list-lastby {
    grid-area: thread-lastauthor;
    padding: 0.5rem;
    width: 120px;
    overflow: hidden;
    word-wrap: break-word;
}

.forum-thread-list-date-hdr,
.forum-thread-list-date {
    grid-area: thread-date;
    padding: 0.5rem;
    width: 175px;
    overflow: hidden;
}

.forum-thread-list-updated-hdr,
.forum-thread-list-updated {
    grid-area: thread-updated;
    padding: 0.5rem;
    width: 175px;
    overflow: hidden;
}

.forum-thread-list-postcount-hdr,
.forum-thread-list-postcount {
    grid-area: thread-postcount;
    padding: 0.5rem;
    width: 90px;
    overflow: hidden;
}



.thread-new-post-form,
.forum-new-thread-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightblue;
    gap: 0px;
    padding: 0.8rem 1rem;
    margin: 0.5rem;
    border-radius: 15px;
    min-width: 300px;
    width: 100%;
}

#message-editor-dialog {
    background-color: transparent;
    border: 0;
}

#message-editor-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightblue;
    gap: 0px;
    padding: 0.8rem 1rem;
    margin: 0;
    border-radius: 15px;
    min-width: 500px;
    width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
}

.forum-new-thread-title {
    width: 100%;
    border: 0;
    border-bottom: 1px dotted grey;
    padding: 0.5rem;
    border-radius: 15px 15px 0px 0px;
}

.forum-new-thread-message {
    width: 100%;
    min-height: 75px;
    border: 0px;
    border-radius: 0px 0px 15px 15px;
    padding: 0.5rem;
    resize: vertical;
    outline: 0;
}

#message-editor-text,
.thread-new-post-message {
    width: 100%;
    min-height: 100px;
    border: 0px;
    border-radius: 15px;
    padding: 0.5rem;
    resize: vertical;
    outline: 0;
}

.message-editor-buttons button,
.thread-new-post-submit,
.forum-new-thread-submit {
    margin-top: 0.8rem;
    border: 0px;
    background-color: black;
    color: orange;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.forum-new-thread-submit:hover,
.forum-new-thread-submit:focus {
    color: yellow;
    background-color: rgb(40, 40, 40);
}

.forum-message-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
    margin-top: 0.8rem;
    background-color: rgba(0, 0, 0, 0.15);
}

.like-button-wrapper button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    gap: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}

.like-button-wrapper button.liked {
    background-color: rgba(138, 229, 138, 0.7);
    border-radius: 12px;
}


.action-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.action-button-wrapper button {
    border: 0px;
    background-color: black;
    color: orange;
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    border-radius: 15px;
    font-size: 0.8em;
    cursor: pointer;
}

.action-button-wrapper button:hover,
.action-button-wrapper button:focus {
    color: yellow;
    background-color: rgb(40, 40, 40);
}

.action-button-wrapper .forum-message-remove {
    background-color: transparent;
}

.action-button-wrapper .forum-message-remove img {
    width: 24px;
    height: 24px;
}

.action-button-wrapper .forum-message-remove:hover,
.action-button-wrapper .forum-message-remove:focus {
    background-color: transparent;
}

.action-button-wrapper .forum-message-remove:hover img,
.action-button-wrapper .forum-message-remove:focus img {
    filter: invert(69%) sepia(17%) saturate(6994%) hue-rotate(359deg) brightness(104%) contrast(101%);
}


.forum-message-wrapper {
    background-color: rgba(0, 0, 0, 0.15);
}

.forum-message-text {
    padding: 0.7rem;
}

.forum-thread-wrapper h3 {
    display: inline-block;
    caret-color: white;
}

.forum-thread-edit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: 0.5rem;
}

.forum-thread-edit img {
    width: 22px;
    height: 22px;
    filter: invert(1);
    cursor: pointer;
}

/*  Color calculator: https://codepen.io/sosuke/pen/Pjoqqp   */
.forum-thread-edit:hover img {
    filter: invert(69%) sepia(17%) saturate(6994%) hue-rotate(359deg) brightness(104%) contrast(101%);
}

#thread-edit-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 0.3rem 0px 0.5rem 0px;
}

.thread-edit-title {
    width: 40ch;
    border: 0px;
    border-radius: 15px;
    padding: 0.25rem 0.5rem;
}

#thread-edit-form button {
    border: 0px;
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
    background-color: orange;
    cursor: pointer;
}

#thread-edit-form button:first-of-type {
    font-weight: 700;
}

#thread-edit-form button:hover,
#thread-edit-form button:focus {
    background-color: yellow;
}

.thread-edit-active-wrapper {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 0.1rem 0.5rem;
}

.admin-new-forum-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.admin-new-forum-link {
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
}

.admin-new-forum-link.expanded {
    border-radius: 12px 12px 0px 0px;
    font-weight: 700;
    font-size: 1.1em;
}

.admin-new-forum-link:hover {
    color: black;
    background-color: orange;
    box-shadow: 0px 0px 10px orange;
}

.forum-no-threads {
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
}

#forum-editor-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: black;
    color: white;
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 12px;
}

#forum-editor-form label {
    font-size: 0.8em;
}

#forum-editor-form input {
    width: 100%;
    border: 0;
    border-radius: 12px;
    padding: 0.4rem 0.8rem;
}

#forum-editor-form .forum-editor-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#forum-editor-form button {
    margin-top: 0.8rem;
    border: 0px;
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
}