/*
    Slutprojekt Javascript 2 (FE23 Grit Academy)
    Grupp : TTSForum

    forum.css
    Stylesheet for displaying and managing forums, threads and messages.
*/

.forum-icon {
    max-width: 100px;
    height: auto;
}

.forum-icon-big {
    max-width: 300px;
    height: auto;
}

.forum-message {
    background-color: lightgray;
    color: black;
    margin: 0.5rem;
    padding: 0.5rem;
}

.forum-message-header {
    display: grid;
    gap: 0 0.6rem;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "authoricon authorname"
        "authoricon postdate";
}

.forum-message-replies {
    border-left: 1px solid blue;
}

.forum-thread {
    background-color: rgb(48, 48, 48);
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
}

.forum-header {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.forum-header h2 {
    font-size: 4rem;
    margin: 0;
}

.author-picture {
    grid-area: authoricon;
    max-width: 40px;
    height: auto;
}

a.author-name {
    grid-area: authorname;
}

a.author-name span {
    font-size: 1.1em;
    font-weight: bold;
}

.forum-message-date {
    grid-area: postdate;
    font-size: 0.8em;
}

.forum-button {
    border: 0;
    margin: 1rem;
    display: inline-grid;
    grid-template-areas: "button-image" "button-label";
    align-items: center;
    background-color: black;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.forum-button > img {
    grid-area: button-image;
    display: block;
    grid-row-start: 1;
    grid-column-start: -1;
    grid-row-end: auto;
    grid-column-end: auto;
}

.forum-button > div {
    grid-area: button-label;
    font-size: 2.5em;
    font-weight: bold;
    display: block;
    grid-row-start: 1;
    grid-column-start: -1;
    grid-row-end: auto;
    grid-column-end: auto;
    color: white;
    text-shadow: 0px 0px 12px black;
    background-color: rgba(0, 0, 0, 0.3);
}

.forum-button:hover {
    box-shadow: 0px 0px 12px yellow;
}

.forum-button:hover > div {
    color: yellow;
}