/*
    Slutprojekt Javascript 2 (FE23 Grit Academy)
    Grupp : STTForum

    user.css
    Stylesheet for displaying and managing user profiles.
*/


#login-form input {
    display: block;
}


#current-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
    pointer-events: auto;
    border-radius: 0 0 35px 0;
    min-width: 100px;
}

#user-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

#user-name {
    color: white;
    font-weight: 700;
    padding: 0 0.5rem;
    text-align: center;
}

#user-profile-form input {
    display: block;
}

#user-profile-picture-view {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 25px;
    
}

.profile-buttons {
    margin-top: 1.5rem;
}

#user-register-form,
#login-form {
    display: block;
}

#user-register-form.hide,
#login-form.hide {
    display: none;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.article-user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 200px;
    min-height: 200px;
    border-radius: 10px;
    padding: 1rem;
}

.user-profile-input {
    margin-top: 0.7rem;
    width: 100%;
}

.profile-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 50%;
}

.user-link {
    text-decoration: none;
    color: black;
}

.section-user-list h2 {
    text-align: center;
    font-size: 5em;
    margin: 0;
}


.section-user {
    background-color: lightgray;
    display: grid;
    grid-template-areas:
        "profile-title profile-title"
        "profile-icon profile-name"
        "profile-icon profile-counter"
        "profile-icon profile-admin"
        "profile-posts profile-posts";
    grid-template-columns: auto 1fr;
    gap: 0px 2rem;
    align-items: end;
    justify-content: start;
    max-width: 700px;
    margin: 0 auto;
}

.section-user h2 {
    grid-area: profile-title;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.users-profile-icon {
    grid-area: profile-icon;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.users-profile-name {
    grid-area: profile-name;
    font-size: 4rem;
}

.users-profile-post-counter {
    grid-area: profile-counter;
}

.users-profile-post-counter::before {
    content: "Posts made: ";
    font-weight: 700;
}

.users-profile-admin {
    grid-area: profile-admin;
}

.users-profile-admin::before {
    content: "Role: ";
    font-weight: 700;
}

.users-profile-posts {
    grid-area: profile-posts;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.users-profile-posts::before {
    content: "Most recent activity";
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
}

.users-profile-posts.no-activity::after {
    content: "No posts yet!";
    display: inline-block;
    font-weight: 700;
    margin: 0 auto;
}

.users-profile-post-entry {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: -3px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.users-profile-post-date {
    padding: 0px 1rem;
    font-size: 0.8em;
    font-weight: 700;
}

.users-profile-post-title {
    font-weight: 700;
    padding: 0.2rem 1rem;
    background-color: rgb(33, 36, 48);
    color: white;
}

.users-profile-post-title::before {
    content: "→";
    color: orange;
    font-weight: bold;
}

.users-profile-post-title a {
    text-decoration: none;
    color: white;
}

.users-profile-post-title a:hover,
.users-profile-post-title a:focus {
    color: yellow;
}

.users-profile-post-text {
    padding: 0.5rem 1rem;
}

#def-pic-container{
    display: flex;
}

#def-pic-container img{
    max-width: 50px;
    padding: 0.2rem;
}

#def-pic-container input{
    position:absolute;
    left: -100px;
}

#def-pic-container input:checked + label {
    background-color: lightgray;
}

#user-profile-form h4{
  margin: 0.7rem 0 0 0 ;
}

#def-pic-container label{
    padding: 0.4rem;
    border-radius: 50%;
}

#user-profile-submit{
    background-color: orange;
    border: none;
    padding: 0.3rem;
    border-radius: 10px;
    cursor: pointer;
}
.profile-buttons{
    background-color: orange;
    border: none;
    padding: 0.3rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.4rem;
}

#user-profile{
    border-radius: 10px;
}